

<div class="formWrapper my-10">
  <%= render 'errors' %>
  <%= form_with(model: @user) do |form| %>

  <div class="field mx-10">
    <%= form.label :user_name, "User Name"%>
    <%= form.text_field :user_name, class: "block border border-grey-light w-80 p-3 rounded mb-4 "%>
  </div>


  <div class="field mx-10">
    <%= form.label :email, "Email"%>
    <%= form.text_area :email, class: "block border border-grey-light w-80 p-3 rounded mb-4"%>
  </div>


  <div class="field mx-10">
    <%= form.label :password, "Password"%>
    <%= form.password_field :password, class: "block border border-grey-light w-80 p-3 rounded mb-4"%>  </div>

  <%= form.submit "Sign Up", class: 'btn block border cursor-pointer mx-10'%> 
  <% end %>
</div>
